<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b494a6">  <td>18/09/08 15:25:05</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Mobilelogin.End()[pri:0, instance:Alogin.Mobilelogin@76b0bfab]">&lt;&lt;End</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="b494a6">  <td>18/09/08 15:24:22</td>   <td>-43044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mobilelogin.sendingRequestAccess()[pri:0, instance:Alogin.Mobilelogin@76b0bfab]">sendingRequestAccess</td> 
  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="b494a6">  <td>18/09/08 15:24:16</td>   <td>-49263</td> <td>&nbsp;</td><td title="&gt;&gt;Mobilelogin.start()[pri:0, instance:Alogin.Mobilelogin@76b0bfab]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2070529722</td>   <td></td> </tr>
</table>
